.result-block {
  max-width: 493px;
  height: initial;
  background-color: #f7edf0;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 20px 20px rgba(130, 108, 127, 0.25);
  padding: 35px 0 0 0;
  position: relative;

  &__heading {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #533745;
  }

  &__city {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #533745;
    margin: 31px 0 0 0;

    img {
      margin: 0 10px 0 0;
    }
  }

  &__image-weather {
    margin: 22px 0 0 0;
    text-align: center;

    img {
      width: 165px;
      height: 165px;
    }
  }

  &__description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #533745;
    margin: 14px 0 0 0;
  }

  &__temperature {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #533745;
    margin: 1px 0 0 0;
  }
}

.result-data {
  display: flex;
  background-color: #826C7F;
  border-top: 2px solid rgba(209, 199, 207, 0.69);
  margin: 17px 0 0 0;
  border-radius: 0 0 12px 12px;

  &__data-temperature,
  &__data-humidity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f3f1f3;
    padding: 13.5px 0;
  }

  &__temperature-like,
  &__humidity-data {
    font-weight: 500;
  }

  &__data-temperature {
    border-right: 1px solid #d1c7cf;
  }
}

.arrow {
  position: absolute;
  top: 38px;
  left: 33px;

  &:hover {
    cursor: pointer;
  }
}